
.Registration {
	padding: 60px 0;
}

form {
	margin: 0 auto;
	max-width: 320px;
}
button {
	margin-top: 10px;
}
.Registration button:disabled,
.Registration button[disabled] {
	margin-top: 10px;
	color: #1e1e1e;
	border-color: #1e1e1e;
}
.alert {
	background-color: #ffe0cc;
	color: #ff7519;
	text-align: center;
	border: 1px solid #ff7519;
	border-radius: 10px;
	margin-top: 10px;
}